header {
	width: 100vw;
	height: 60px;
	display:inline;
	-webkit-text-size-adjust: 100%;
}
h2 {	display:inline;
	margin-left: 6%;	
	font-family: 'Raleway', sans-serif;
	font-size: 300%;
	-webkit-text-size-adjust: 100%;
	}
span {	display:inline;
	margin-left: 5%;
	font-family: 'Raleway', sans-serif;
	font-size: 110%;
	-webkit-text-size-adjust: 100%;
}

p4{	display:inline;
	margin-left: 25%;
	font-family: 'Raleway', sans-serif;
	color:#D3D3D3;
	font-size: 110%;
	-webkit-text-size-adjust: 100%;
	
}
nav {	
	width: 100vw;
	height: 20px;
}
style {
	color: #D3D3D3;
	display:inline;
}
a:link {
	color:#C8102E;
	text-decoration: none;
}
a:hover {
	color: #C8102E;
	text-decoration: none;
}
a:visited {
	color:#C8102E;
	text-decoration: none;
}
a:active {
	color:#C8102E;
	text-decoration: none;
}
div {
	text-align: center;
	font-size: 110%;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
}
